.background {
    background-image: url(backgroundimage.jpg);
    background-size: 100% auto;
}
.conteiner {
  
    width: 29%;
    height: 561px;
    border-radius: 30px;
    border: 2px solid rgb(39, 39, 137) ;
    box-shadow: 0 0 10px;
    background-color: rgba(33, 33, 198, 0.387);
    /* backdrop-filter: blur(3px); */
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 20px;

}
.namelmane {
 height: 35px;
 background: white;
 outline: none;
 font-size: 17px;
 border: 2.5px solid rgb(27, 27, 235);
 color: black;
 border-radius: 6px;
}
 
.inputs {
    width: 80%;
    height: 35px;
    background: white;
   border: 2.5px solid rgb(27, 27, 235);
   outline: none;
   color: black;
   border-radius: 6px;
   font-size: 15px;

    
}
.radio {
    font-size: 20px;
    cursor: pointer;
   
}
.login {
    width: 450px;
    height: 35px;
    background-color: rgb(0, 132, 255);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 0 10px rgb(0, 0, .1);
     color: white; 
    font-size: 20px;
    cursor: pointer;
    
    
}
.login-conteiner ::placeholder {
    color: rgb(70, 70, 70);
    font-style: italic;
}



button > a {
    color: white;
    width: 100%;
    text-decoration: none;
}
.google {
    width: 20px;
    height: 15px;
}
.login-conteiner > div > a {
    color: aqua;
    text-decoration: none;
}
